/Code Blanche/Assembly-CSharp.csproj
/Code Blanche/Assembly-CSharp-Editor.csproj
/Code Blanche/Assembly-CSharp-Editor-vs.csproj
/Code Blanche/Assembly-CSharp-vs.csproj
/Code Blanche/Code Blanche.sln
/Code Blanche/Code Blanche-csharp.sln
obj
Temp
Library
